body {
    word-wrap: break-word;
    height: 100%;

}
*, *::before *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.title {
    background-color: black;
    color: white;
}
.input-button {
    display: flex;
    justify-content: center;
    align-content: center;
}
.input-button > button {
    color: blue;
    border-radius: 1rem;
    border: none;
    height: 4em;
    width: 12em;
    text-align: center;
    font-weight: bold;
}
button:hover {
    background-color: rgb(219, 212, 212);
}
#bookform {
    display: none;
}
.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#container {
    background-color: rgb(211, 210, 210);
    height: max-content;
}
#book-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.book-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.17) 2px 1px 4px;
    line-height: 1.2;
    width: 12em;
    height: 12em;
    background-color: white;
}
.book-title {
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
}
.author-title, .number-pages, .read-status {
    font-size: 18px;
    text-overflow: ellipsis;
}
.button-read {
    background-color: rgb(107, 188, 107);
    border-radius: 10px;
    border: none;
    color: white;
    height: 2em;
    width: 3rem;
}
.button-not-read {
    background-color: rgb(220, 77, 77);
    border-radius: 10px;
    border: none;
    color: white;
    height: 2em;
    width: 5rem;
}
.button-read:hover {
    background-color: rgb(53, 194, 53);
}
.button-not-read:hover {
    background-color: rgb(219, 49, 49);
}
